@model TestHispanoSoluciones.Models.Turno

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dias.Dias1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dias.Dias1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dias1.Dias1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dias1.Dias1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_Ini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_Ini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_Fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_Fin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Turno }) |
    @Html.ActionLink("Regresar", "Index")
</p>
