@model TestHispanoSoluciones.Models.PersonalAdministrativo

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>PersonalAdministrativo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departamento.Departamento1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.Departamento1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol.Rol1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.Rol1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Status1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turno.Id_Turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turno.Id_Turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_PersonalAdm }) |
    @Html.ActionLink("Regresar", "Index")
</p>
