<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
       Configuraciones
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Asignaciones", "Index", "Asignaciones", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Carrera", "Index", "Carrera", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Departamento", "Index", "Departamentoes", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Roles", "Index", "Rols", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Estatus", "Index", "Status", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Tipos de laboratorio", "Index", "TipoLabs", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Turnos", "Index", "Turnoes", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Dias", "Index", "Dias", new { area = "" }, new { @class = "navbar-brand" })</li>

    </ul>
</div>

