@model TestHispanoSoluciones.Models.Docente

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Docente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asignacion.Id_Asignacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignacion.Id_Asignacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol.Rol1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.Rol1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Status1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turno.Id_Turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turno.Id_Turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Docente }) |
    @Html.ActionLink("Regresar", "Index")
</p>
