@model IEnumerable<TestHispanoSoluciones.Models.Docente>

@{
    ViewBag.Title = "Docentes";
}

<h2>Docentes</h2>

<p>
    @Html.ActionLink("Crear Docente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asignacion.Id_Asignacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol.Rol1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Status1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turno.Id_Turno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DNI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asignacion.Id_Asignacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.Rol1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Status1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turno.Id_Turno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNI)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id_Docente }, new { @class = "btn btn-default" })
            @Html.ActionLink("Detalles", "Details", new { id = item.Id_Docente }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Borrar", "Delete", new { id = item.Id_Docente }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
