@model IEnumerable<TestHispanoSoluciones.Models.Rol>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rol1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rol1)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id_Rol }, new { @class = "btn btn-default" })
            @Html.ActionLink("Detalles", "Details", new { id = item.Id_Rol }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Borrar", "Delete", new { id = item.Id_Rol }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
